<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="Vergosity.Configuration"
									type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
			<section name="Framework"
							 type="Vergosity.Configuration.Framework, Vergosity.Configuration"/>
			<section name="licenseInfo"
							 type="Vergosity.Configuration.LicenseInfo, Vergosity.Configuration"/>
		</sectionGroup>
	</configSections>
	<Vergosity.Configuration xmlns="urn:Vergosity.Configuration">
		<Framework version="1.0">
			<Elements>
				<Item name="ActionFramework"
							version="1.0.2343.1"
							expirationDate="2012-07-03T22:28:18.0130072"
							licenseType="Professional"
							licenseKey="KHYzNgdbAB2laMKYMS83x+fHcI/k3ItjXm6VLm+3GhWgz1TQV6+x/uEO3APSLE5b8TiDvNXjMqJCEptb/lBni5UXtbEg9/Nu6OlqqAqRTy5q9N+0ZNb6qEyMxScV06KdS//fdSBjM73+cNqaPDJOiSsQ+8JOUfCHDYZJ+NLakQ7u/mq53jWwmXG8eoPrlsvZbJGgfd++HtSgB5iFY8872Wnlcg2aY8XblpXnurDe9btPwl5a4LtL1mrlXWFB625tIe30ePXnKp9a7W+bKx2Sheqnf3OqJaEnYr/SQ8hFkvfz2G2ZZFHyEdbMQK3BX0yZQCcs619TEUo07OFyIqkAMk5HmWCusU+sivoLvi0BM5TogBzGYe+asnHCnUJiWES7EtKl+3YVTnbvndFQyhmbf4DKm6RB77/OXR2ewJOalxPjpEwSeZMMjGMyFMxfJfA816JDuPfzFlvSn27aza+0m3nf51Hr01ny44KdoqxQS5cPwXqJsCg2UVGjYcuGsx5jTfUNCWBbtp+bjFZu6NyBiOMK4t3IgIGeM0jbdcKhk7KJM4JsFgu/AMjLhKTETPkFdr9UrNaGUlTzn1plflN+YdVByk5EC6Uh/6pqo5jvtUI9LOKNYyr8Pmj+tFjf0rmmwMmniMp+ni3p5YEPYRHSugFhfh4Z+swdCeXFoNpGSWs="/>
			</Elements>
		</Framework>
		<LicenseInfo id="5a9899d2-8c51-4a04-ad2f-3ff613e70659"
								 licensee="Matt Vaughn"
								 companyName="Build Motion, LLC"/>
	</Vergosity.Configuration>
</configuration>